html,
.padre {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 2%;
    margin: auto;
    background-image: url('../../assets/img/table.jpg');
}

.contenedor {
    height: 49%;
}

*{
    box-sizing: border-box;
}
  
.column {
    float: left;
    width: 33.33%;
    padding: 10px;
}
  
.row:after {
    content: "";
    display: table;
    clear: both;
}

.panel_user {
    width: 100%;
    float: left;
    margin-top: 5%;
    margin-left: 20%;
}

.user_card {
    width:55.7%;
    float:right;
}

.img_user{
    position: relative;
}

.home_card {
    width: 55.7%;
    float: right;
}


.botones {
    margin-left: 10%;
}

.boton {
    width: 50%;
    height: 20%;
    margin: 5px;
    padding: 4px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    font-size: 10px;
    line-height: 32px;
    text-transform: uppercase;
    float: left;
    text-align: center;
    color: white;
}

.boton:hover {
    opacity: 0.50;
    -moz-opacity: .50;
    filter: alpha (opacity=50);
}

.boton a {
    color: #fff;
    text-decoration: none;
    padding: 5px 5px 5px 0;
}

.home_start_option{
    margin-top: 30%;
}

